html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-color: dimgray;
}

.score {
  position: fixed;
  top: 1dvh;
  font-size: 24px;
  color: white;
}

#p1Score {
  left: 20dvw;
}

#p2Score {
  right: 20dvw;
}

#startButton {
  background-color: lime;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: solid;
  border-radius: 14px;
  color: black;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
}

#startButton:hover {
  background-color: limegreen;
  padding: 12px 24px;
  border-radius: 16px;
}

#startButton:active {
  background-color: rgb(50, 150, 50);
  padding: 10px 14px;
  border-radius: 12px;
}
