html,
body {
  margin: 0;
	padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
	position: fixed;
  touch-action: none;
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  background-color: blue;
}

.row {
  display: flex;
  gap: 5px;
  width: fit-content;
  height: fit-content;
}

.cell {
  width: 150px;
  height: 150px;
  background-color: black;
  cursor: pointer;
}
