/* Body and HTML Reset */
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	/* Prevents scrolling */
	touch-action: none;
	/* Prevents pull-to-refresh and pinch-zoom on touchscreens */
	display: flex;
}

/* Overlay Buttons */
.play-overlay,
.fs-button,
.settings-button {
	position: absolute;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background: rgba(65, 74, 151, 0.6);
	z-index: 10;
	color: #e9eeee;
	transition: background 0.2s ease-in-out;
	/*smooth hover transition */
}

.play-overlay:hover,
.fs-button:hover,
.settings-button:hover {
	background: rgba(65, 74, 151, 0.9);
}

.play-overlay {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	font-size: 2rem;
}

.fs-button {
	bottom: 15px;
	right: 15px;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.settings-button {
	top: 15px;
	right: 15px;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.settings-menu {
    position: fixed;
    background: #fff;
    border: 1px solid #aaa;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 11;
    max-width: 300px;
		bottom: 50%;
		right: 50%;
		transform: translateX(50%) translateY(50%);
		text-align: center;
		display: flex;
		flex-direction: column;
}

.settings-menu h2 {
	margin-top: 0;
	font-size: 1.5rem;
}

.keybind {
	width: max-content;
	align-self: center;
}

.hidden {
	display: none;
}

.gameTitles {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);

}

h1.gameTitles {
	font-size: 2.5rem;
	color: #e9eeee;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
